#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.container {
  border: 2px solid red;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  color: black;
}

.title {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.welcome {
  text-align: center;
}
